.modeToggle {
  border-radius: var(--border-radius);
  box-shadow: none;
  color: #FFFFFF;
  background-color: transparent;
  color: var(--header-font-color);
  margin: 0;
  padding: var(--padding-vertical) var(--padding-horizontal);

  .icon {
    width: 1.5rem;
    margin: 0;
    font-size: 1.2rem;
    margin-right: calc( var(--margin-horizontal) * 0.8 );
  }
}


